body{
    background-color: rgb(0,0,0);
}
#logs{
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
#om{
   width: 50%;
   text-align: right;
}
#logo{
    width: 50%;
}
#logs .logo{
    width: 12vw;
    flex: 1;
}
#logs .om{
    width: 12vw;
    flex: 1;
}
/*************************************/

#greet{
    text-align: center;
    color: aliceblue;
    opacity: 0.5;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 10vw;
}
#name{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 10vw;
}
#pp{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pimg{
    width: 50vw;
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}
.mvd{
    opacity: 0;
    transform: translateY(50px);
}

#roll{
    color: aliceblue;
    font-family: 'Caveat', cursive;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    font-size: 7vw;
    margin-top: 2%;
}
#lid{
    color: aliceblue;
    font-family: 'Caveat', cursive;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
    margin-top: 2%;
    text-decoration: underline;
}
/***************************************************/
hr{
    border-style: dotted;
    border-width: 8px 0 0 0;
    width: 20%;
    border-color: #b0d4f7;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*********************************************************/
#skill{
    color: coral;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 5vw;
    margin-left: 10%;
    text-decoration: underline;
}

#skills{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.skillset{
    color: rgb(11, 113, 202);
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 5%;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.mvl{
    opacity: 0;
    transform: translateX(-50px);
}
.skillD{
    color: aliceblue;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 5%;
    margin-left: 5%;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.mvr{
    opacity: 0;
    transform: translateX(50px);
}
/**********************************************************************************/

#education{
    color:aquamarine;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    margin-left: 10%;
    text-decoration: underline;
    font-size: 5vw;
}
#graduation,#secondary,#higher{
    margin-left: 15%;
    margin-top: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
}
#grad1,#high1,#sec1{
    margin-left: 15%;
    color:#b0d4f7;
    font-family: 'Caveat', cursive;
}
.sec1,.grad1,.high1{
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.mvr1,.mvr2,.mvr3{
    opacity: 0;
    transform: translateX(20px);
}

/**************************************************************/
#certifications{
    color: rgb(145, 255, 0);
    font-family: 'Caveat', cursive;
    font-weight: bold;
    text-decoration: underline;
    font-size: 5vw;
    margin-left: 10%;
}

#sainya{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2vw;
}
#sainya img,#nie img,#cs img{
    width: 100%;
    border-radius: 4vw;
}
#sainyaD{
    color: aliceblue;
    margin: 3vw 18% 5vw;
    text-align: left;
    font-size: 4vw;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
#sainyaD span{
    color: coral;
}
.sainya,.nie,.cs{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}
.sainyaD,.nieD,.csD{
    opacity: 0;
    transform: translateY(50px);
}
#nie{
    margin-left: 15%;
    margin-right: 15%;
}
#nieD{
    color: aliceblue;
    margin: 3vw 18% 5vw;
    text-align: left;
    font-size: 4vw;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
#nieD span,#csD span{
    color: coral;
}

#cs {
    margin: 0 15% 0;

}
#csD{
    color: aliceblue;
    margin: 3vw 18% 5vw;
    text-align: left;
    font-size: 4vw;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
/*************************************************************/

.thanks{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10vw;
    background-color:rgb(107, 203, 248);
       
}
.thanks img{
    width:  10vw;
    margin-top: 0.8vh;
}
#text{
    margin:4% 15% 10%;
    font-weight: bold;
    text-align: justify;
    font-size: larger;
    color: aliceblue;
    font-family: 'Caveat', cursive;    
    
}

