body{   
        background-color: rgb(0, 0, 0);
}

#logs{
    width: 70%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}
#logo{
    flex:1;       
}
#om{
    flex:1;
    text-align: right;
    
}
#logo img{
    width: 10%;
}
#om img{
    width: 12%;
    
}

/***********************************/
.c1,.c2,.c3,.c4{
    color: #92A9BD;
}
.c1{
    font-size: 3vw;
    font-weight: bold;
    grid-area: greet;
    color: aliceblue;
    font-family: 'Caveat', cursive;
    opacity: 0.5;
}
.c2{
    grid-area: name;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    color: aliceblue;

}
.c3{
    margin-top: 3%;
    grid-area: designation;
    color: #92A9BD;
    font-weight: bolder;
    font-size: 1.7vw;
    font-family: 'Caveat', cursive;
}
.c4{
    grid-area: description;
    color: aliceblue;
    margin-top: 10%;
    font-size: 2.2vw;
    font-family: 'Caveat', cursive;
}
.c5{
    grid-area: pp;
    text-align: right;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.moveright{
    opacity: 0;
    transform: translateX(50px);
}
.c5 img{
    width: 18vw;
    margin-top: 30%;
}
.c6{
    grid-area: social;
}

.con1{
    display: grid;
    margin-top: 5%;
    width: 70%;
    margin-bottom: 5%;
    margin-left: 15%;
    grid-template-areas: 'greet  pp'
                        'name  pp'
                        'designation  pp'
                        'description  social';
    
}
#con11{
    display: flex;
    margin-left: 48%; 
}
#con11 a{
    margin-top: 15%;
    margin-left: 4%;
    margin-right: 4%;
}
#con11 img{
    width: 2vw;
    height: 13%;
}

/***********************************/
















/*************************************/
.item1{
    margin-top: 60px;
    color: cadetblue;
    grid-area: skill;
    font-size: 2vw;
    font-weight:bold;
    font-family: cursive;
    text-decoration: underline;
    margin-bottom: 30px;
    opacity: 0.8;
    
}
.item2{
    color: aliceblue;
    grid-area: head;
    font-family: 'Caveat', cursive;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 2%;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.pleft{
    opacity: 0;
    transform: translateX(-50px);
}
.item4{
    margin-top: 20%;
    color:aliceblue;
    grid-area: para;
    margin-left: 30%;
    margin-right: 20%;
    font-size: 2vw;
    text-align: justify;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    font-family: 'Caveat', cursive;
}
.pright{
    opacity: 0;
    transform: translateX(50px);
}

#education{
    margin-left: 15%;
    margin-top: 5%;
    color: #0088ff;
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Caveat', cursive; 
    text-decoration: underline;
   
}
hr{
    border-style: dotted;
    border-width: 8px 0 0 0;
    width: 10%;
    border-color: #b0d4f7;
    
}

#section1{
    margin-top: 4%;
    margin-bottom: 40px;
    display: grid;
    margin-left: 15%;
    grid-template-areas:'skill para'
                        'head para'
                        'next para';
}
.graduation{
        color: aliceblue;
        grid-area: graduation;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: 'Caveat', cursive;  
}
.grad1{
        color: #92A9BD;
        grid-area: grad;
        font-size: 20px;
        font-family: 'Caveat', cursive;
        opacity: 0.8;
        margin-left: -20px;
}
.higher{
        color: aliceblue;
        grid-area: higher;
        font-size: 30px;
        font-family: 'Caveat', cursive;
}
.high1{
        color: #92A9BD;
        grid-area: high;
        font-size: 20px;
        font-family: 'Caveat', cursive;
        opacity: 0.8;
        margin-left: -20px;
}
.secondary{
        color: aliceblue;
        grid-area: secondary;
        font-size: 30px;
        font-family: 'Caveat', cursive;
}
.sec1{
        color:#92A9BD;
        grid-area: sec;
        font-size: 20px;
        font-family: 'Caveat', cursive;
        opacity: 0.8;
        margin-left: -20px;
        transition: all 1s ease-in-out;
}

#section2{
    margin-left: 15%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: 'graduation higher secondary'
                         'grad       high   sec';
}
.section2{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out;
}
.godown{
    opacity: 0;
    transform: translateY(50px);
}

#certs{
    margin-top: 60px;
    color: coral;
    font-size: 35px;
    font-weight:bold;
    font-family: cursive;
    text-decoration: underline;
    margin-bottom: 30px;
    opacity: 0.8;
    margin-left: 15%;
}
#certifications{
    margin-top: 50px;
}
#cer1,#cer2,#cer3{
    margin-left: 15%;
    margin-right: 10%;
    display: flex;
    margin-bottom: 50px;
}
#cer1 img{
    display: block;
    width: 500px;
    border-radius: 20px;
}
.cd1{
    color: aliceblue;
    font-size: 25px;
    margin-top: 80px;
    margin-right: 5%;
    text-align: justify;
    padding: 50px 50px -20px 50px;
    font-family: cursive;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.ml1{
    opacity: 0;
    transform: translateX(-50px);
}
#cd1 span{
    font-style: italic;
    font-weight: bolder;
    color: rgb(236, 55, 55);
}
#cer2 img{
    display: block;
    width: 500px;
    border-radius: 20px;
}
.cd2{
    color: aliceblue;
    font-size: 25px;
    margin-top: 40px;
    margin-right: 5%;
    text-align: justify;
    padding: 50px;
    font-family: cursive;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.mr{
    opacity: 0;
    transform: translateX(50px);
}

#cd2 span{
    font-style: italic;
    font-weight: bolder;
    color: rgb(91, 82, 255);
}
#cer3 img{
    display: block;
    width: 500px;
    border-radius: 20px;
}
.cd3{
    color: aliceblue;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 5%;
    text-align: justify;
    padding: 50px 50px -20px 50px;
    font-family: cursive;
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}
.ml2{
    opacity: 0;
    transform: translateX(-50px);
}
#cd3 span{
    font-style: italic;
    font-weight: bolder;
    color: rgb(196, 58, 69);
}
#footer{
    
    color: aliceblue;
    display: flex;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}
#text{
    font-size: 25px;
    margin-top: 60px;
    margin-left: 30px;  
}
.thanks{
    width: 100px;
    background-color: blanchedalmond;
    border-radius: 100%;
    margin-left: 15%;
    margin-top: 50px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
.thanks img{
    width: 100px;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
